/*
  Name: Veltrix - Admin & Dashboard  
Author: Themesbrand
Version: 4.2.0
Website: https://themesbrand.com/
Contact:  andzukor@gmail.com
File: Icons Css File
*/

// Plugins
@import "custom/plugins/icons";